* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo
{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover
{
    border: 2px solid white;
}
.address-first{
    color:#CCCCCC;
    font-size: 0.85rem;
}
.address-second{
    color:#FFFFFF;
    font-size: 1rem;
}
.address-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    height: 40px;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.search-input{
    font-size: 1rem;
    width: 100%;
    border: none;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* .country-logo{
    background-image: url("america-flag.png");
    width: 21.6px;
    height: 16.2px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.signin-first{
     
}